/* global.css */
:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color: #333;
  --background-color: #f4f4f4;
  --primary-color: #3498db;
  --primary-hover-color: #2980b9;
  --header-footer-bg: #2c3e50;
  --header-footer-color: #ecf0f1;
}

body {
  font: 1em/1.6 var(--font-family);
  color: var(--text-color);
  background: var(--background-color);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 0;
}

h2 {
  color: #2c3e50;
  margin-top: 0;
  font-size: 1.5rem;
}

header,
footer {
  background: var(--header-footer-bg);
  color: var(--header-footer-color);
  text-align: center;
  padding: 1rem 0;
}

header {
  margin-bottom: 1rem;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: var(--primary-hover-color);
}

button {
  border: 0;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font: 500 1em var(--font-family);
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

button:hover {
  background: var(--primary-hover-color);
}

button:disabled {
  background: #95a5a6;
  cursor: not-allowed;
  opacity: 0.7;
}

@font-face {
  font-family: 'LiSu';
  src: url('/assets/LiSu.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.section h2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
}

.section > *:not(h2) {
  text-align: center;
  margin-top: 1rem;
}
